Arduino
arduino15
Build
config.h
*~
people/kavers1/MyAdem/myAdem/myAdem.v12.suo
people/kavers1/MyAdem/myAdem/myAdem/__vm/.myAdem.vsarduino.h
people/kavers1/MyAdem/myAdem/myAdem.v12.suo
*.suo
adem/.vscode/settings.json
adem/libraries/StoreAndForward/examples/test/test.log
*.log
