# Unwanted files
config.h

*~
*.log

/Arduino
/arduino15
/Build/

# Unwanted Visual Studio Code files
.gcc-flags.json

*.sln
*.suo
*.vcxproj
*.vcxproj.filters

**/.gitignore
**/.travis.yml
**/lib/readme.txt

.build/
.clang_complete/
.pioenvs/
.piolibdeps/
.vscode/
__vm/
adem/platformio.ini
